<section class="quote">
    <div class="wrapper">
      <section class="testimonial flex-column">
        <span class="avatar">
          <a href="https://musement.com">
            <img class="blackandwhite" srcset="assets/img/musement.png, assets/img/musement@2x.png 2x" src="assets/img/musement.png" />
          </a>
        </span>
      </section>
      <section class="testimonial flex-column">
        <span class="avatar">
          <a href="https://viriciti.com">
            <img class="blackandwhite" srcset="assets/img/viriciti.png, assets/img/viriciti@2x.png 2x" src="assets/img/viriciti.png" />
          </a>
        </span>
      </section>
      <section class="testimonial flex-column">
        <span class="avatar">
          <a href="https://www.raleighnc.gov/">
            <img class="blackandwhite" srcset="assets/img/raleigh.png, assets/img/raleigh@2x.png 2x" src="assets/img/raleigh.png" />
          </a>
        </span>
      </section>
    </div>
</section>
