<section class="footer">
  <div class="grid-four wrapper">
    <section>
      <h1>Express Gateway</h1>
    </section>
    <section>
      <h5>Contact</h5>
      <a href="mailto:info@express-gateway.com">info@express-gateway.com</a>
    </section>
    <section>
      <h5>Follow</h5>
      <nav>
        <a href="https://expressgateway.slack.com/">slack</a>
        <a href="https://medium.com/@lunchbadger">medium</a>
        <a href="https://github.com/lunchbadger">github</a>
        <a href="https://twitter.com/lunchbadger">twitter</a>
      </nav>
    </section>
    <section>
      <h5>Proudly Sponsored by</h5>
      <p>LunchBadger</p>
      <p>Joyent</p>
    </section>
    <p class="copyright">&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>

  </div>
</section>
