<div class="site-pusher">
<a href="#" class="header-menu-icon"><span></span></a>
<header class="site-header">
  <section class="wrapper">
    <a href="{{ site.baseurl }}/" class="logo">
      {% include egw-logo.svg %}
    </a>
    <nav class="menu">
      <span class="nav-element" {% if page.url == "/about/" %}class="active"{% endif %}>
        <a href="{{ site.baseurl }}/about">About</a>
      </span>
      <span class="nav-element" {% if page.url == "/getting-started/" %}class="active"{% endif %}>
        <a href="{{ site.baseurl }}/getting-started">Getting Started</a>
      </span>
      <span class="nav-element" {% if page.url contains "/docs/" %}class="active"{% endif %}>
        <a href="{{ site.baseurl }}/docs" class="nav-sub-menu-trigger">Documentation</a>
      </span>
      <span class="nav-element" {% if page.url == "/resources/" %}class="active"{% endif %}>
        <a href="{{ site.baseurl }}/resources">Resources</a>
      </span>
      <span class="nav-element" {% if page.url contains "/blog/" %}class="active"{% elsif page.layout == "post" %}class="active"{% endif %}>
        <a href="{{ site.baseurl }}/blog">Blog</a>
      </span>
      <span class="nav-element">
        <a href="https://goo.gl/s8eGKz">Support</a>
      </span>
      <span class="github-button-wrapper nav-element">
        <a class="github-button" href="https://github.com/ExpressGateway/express-gateway" aria-label="Star ExpressGateway/express-gateway on GitHub">Star</a>
      </span>
      <span class="nav-element search-text-wrapper">
        <input type="text" class="search-text-box" placeholder="Search…"/>
      </span>
      <span class="nav-element search-icon-wrapper">
        <label class="search-icon" for="search-check-box"></label>
      </span>
    </nav>
  </section>
</header>
