<!DOCTYPE html>
<html lang="en" class="without-welcome-banner">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link href="http://gmpg.org/xfn/11" rel="profile">

  <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Pragati+Narrow" rel="stylesheet">
  <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
  <!-- GitHub button -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">


  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">

  <!-- mailchimp -->
  <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">

  <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico">

  <!-- highlight js -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/tomorrow.css">

  <!-- google fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300" rel="stylesheet">

  <link href="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css" rel="stylesheet"/>
  {% include insert-to-head.html %}
</head>
