<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link href="https://gmpg.org/xfn/11" rel="profile">

  <link href="https://cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
  <script async defer src="https://buttons.github.io/buttons.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">


  <title>
    {% if page.title == "Home" %}
      {{ site.title }} • {{ site.tagline }}
    {% else %}
      {{ page.title }} • {{ site.title }}
    {% endif %}
  </title>

  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
  <link href="https://cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
  <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/tomorrow.css">
  <link href="https://fonts.googleapis.com/css?family=Inconsolata|Pragati+Narrow|Roboto:100" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css" rel="stylesheet"/>
  {% include insert-to-head.html %}
</head>
