<div class="sharebuttons">
  <p class="sharetitle"> Share this Post: </p>
  <nav>
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url | uri_escape}}&title={{ page.title | default:"" | uri_escape }}"
      target="_blank">
      {% include social-facebook.svg %}
    </a>
    <a href="https://twitter.com/intent/tweet?via=express_gateway&url={{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url | uri_escape}}&text={{ page.title | default:"" | uri_escape}}"
      target="_blank">
      {% include social-twitter.svg %}
    </a>
    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url | uri_escape}}&title={{ page.title | default:"" | uri_escape}}"
      target="_blank">
      {% include social-linkedin.svg %}
    </a>
  </nav>
</div>