<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title pull-left">Archives</h3>
    <span class="fa fa-archive pull-right"></span>
    <div class="clearfix"></div>
  </div>
  <div class="panel-body">

  {% for post in site.posts %}
    {% capture cache %}

      {% assign pg_year  = page.date | date: '%Y' %}
      {% assign pg_month = page.date | date: '%m' %}

      {% assign year   = post.date | date: '%Y' %}
      {% assign month  = post.date | date: '%m' %}

      {% assign n_year  = 2000 %}
      {% assign p_year  = 2025 %}
      {% assign n_month = 0 %}
      {% assign p_month = 13 %}

      {% if post.next %}
        {% assign n_year  = post.next.date | date: '%Y' %}
        {% assign n_month = post.next.date | date: '%m' %}
      {% endif %}

      {% if post.previous %}
        {% assign p_year  = post.previous.date | date: '%Y' %}
        {% assign p_month = post.previous.date | date: '%m' %}
      {% endif %}

    {% endcapture %}

    {% if year != n_year %}
      <div class ="archive-year">
        <a href="{{ site.baseurl }}/pages/archives-y#{{ year }}">
        {{ year }}</a>
      </div>
    {% endif %}

    {% if year == pg_year %}
    {% if year != n_year %}
    <ul class="archive-month">
    {% endif %}

      {% if month != n_month %}
      <li class="list-month">
        <span class ="archive-month">
          <a href="{{ site.baseurl }}/pages/archives-m#{{ year }}-{{ month }}">
            {{ post.date | date: '%B %Y' }}
          </a></span>
      {% endif %}

      {% if month == pg_month %}
        {% if month != n_month %}
        <ul class="archive-item">
        {% endif %}
        {% if post.title != page.title %}
          <li class="list-content">
            <a href="{{ post.url }}">{{ post.title }}</a>
          </li>
        {% endif %}
        {% if month != p_month %}
        </ul>
        {% endif %}
      {% endif %}

      {% if month != p_month %}
      </li>
      {% endif %}

    {% if year != p_year %}
    </ul>
    {% endif %}
    {% endif %}

  {% endfor %}
  </div>
</div> 
