{% assign pages = site.html_pages | sort: 'doc-order' %}

{% assign parts = page.url | split: '/' %}
{% assign root = '/' | append: parts[1] | append: '/' %}
{% assign has_children = false %}
{% for node in pages %}
  {% if node.url contains root and node.url != root %}
    {% assign has_children = true %}
  {% endif %}
{% endfor %}

{% if has_children == true %}
<nav id="sb-sticky" class="sidebar-docs">
  <h2><a href="{{ site.baseurl }}/docs">Documentation <span class="version">v1.11.0</span></a></h2>
  <input id="toc-responsive" class="" type="checkbox">
  <label class="toc-responsive-menu-icon" for="toc-responsive"><span></span></label>
  <ul>
    {% for node in pages %}
      {% if node.url contains root %}
        {% assign node_parts = node.url | split: '/' %}
        {% assign node_depth = node_parts | size %}
        {% if node_depth == 3 %}
          <li class="haschildren">
             {% assign sub_root = '/' | append: node_parts[1] | append: '/' | append: node_parts[2] | append: '/' %}
             {% assign has_children = false %}
             {% for subnode in pages %}
               {% if subnode.url contains sub_root and subnode.url != sub_root %}
                 {% assign has_children = true %}
               {% endif %}
             {% endfor %}

             <a {% if page.url == node.url %} class="active"{% endif %} href="{{site.baseurl}}{{ node.url }}">

               {% if node.link %}
                 {{ node.link }}
               {% else %}
                 {{ node.title }}
               {% endif %}
             </a>
             {% if has_children == true %}
              <input id="cb-{{ node.title }}" class="accordian {% if page.url contains node.url %}expanded{% endif %}" type="checkbox">
              <label class="menuicon" for="cb-{{ node.title }}">{% include icon-menu.svg %}</label>

              {% endif %}

            {% if has_children == true %}


            <ul class="child-list {% if page.url == node.url %}open{% endif %}">

              {% for subnode in pages %}

                {% if subnode.url contains sub_root and subnode.url != sub_root %}

                  {% assign node_parts = subnode.url | split: '/' %}
                  {% assign node_depth = node_parts | size %}

                  {% if node_depth == 4 %}

                    <li class="haschildren">
                      {% assign tertiary_root = '/' | append: node_parts[1] | append: '/' | append: node_parts[2] | append: '/' | append: node_parts[3] | append: '/' %}
                      {% assign has_children = false %}
                      {% for tertiary in pages %}
                        {% if tertiary.url contains tertiary_root and tertiary.url != tertiary_root %}
                          {% assign has_children = true %}
                        {% endif %}
                      {% endfor %}

                      <a {% if page.url == subnode.url %} class="active"{% endif %} href="{{site.baseurl}}{{ subnode.url }}">


                        {% if subnode.link %}
                          {{ subnode.link }}
                        {% else %}
                          {{ subnode.title }}
                        {% endif %}
                      </a>
                      {% if has_children == true %}
                        <input id="cb-{{ subnode.title }}" class="accordian {% if page.url contains subnode.url %}expanded{% endif %}" type="checkbox">
                        <label class="menuicon menuicon-submenu" for="cb-{{ subnode.title }}">{% include icon-menu.svg %}</label>

                      {% endif %}

                      {% if has_children == true %}


                      <ul class="child-list {% if page.url == tertiarysorted.url %}open{% endif %}">
                          {% assign tertiarypages = site.html_pages | sort: 'list-order' %}

                          {% for tertiarysorted in tertiarypages %}
                            {% if tertiarysorted.url contains tertiary_root and tertiarysorted.url != tertiary_root %}
                              <li>
                                <a {% if page.url == tertiarysorted.url %} class="active"{% endif %} href="{{site.baseurl}}{{ tertiarysorted.url }}">
                                  {% if tertiarysorted.link %}
                                    {{ tertiarysorted.link }}
                                  {% else %}
                                    {{ tertiarysorted.title }}
                                  {% endif %}
                                </a>
                              </li>
                            {% endif %}
                          {% endfor %}
                        </ul>
                      {% endif %}
                    </li>
                  {% endif %}
                {% endif %}
              {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endif %}
      {% endif %}
    {% endfor %}
  </ul>
</nav>
{% endif %}
