<section class="quote">
    <div class="wrapper">
      <section class="testimonial flex-column">
          <span class="avatar rounded"><img class="blackandwhite doug" srcset="assets/img/Doug.jpg, assets/img/doug@2x.jpg 2x" src="assets/img/Doug.jpg" /></span>
          <blockquote>"Building upon Node.js + Express.js brings together the strengths, community and flexibility for a world-class API gateway."</blockquote>
          <p><span>— Doug Wilson</span> Maintainer of Express.js</p>
      </section>
      <section class="testimonial flex-column">
          <span class="avatar rounded"><img class="blackandwhite james" srcset="assets/img/james.jpg, assets/img/james@2x.jpg 2x" src="assets/img/james.jpg" /></span>
          <blockquote>"An API gateway built around ExpressJS is long overdue and the perfect use case for the minimalist strengths of what Express is all about!"</blockquote>
          <p><span>— James Young</span> CTO of VidRoll</p>
      </section>
      <section class="testimonial flex-column">
          <span class="avatar rounded"><img class="blackandwhite" srcset="assets/img/amar.jpg, assets/img/amar@2x.jpg 2x" src="assets/img/amar.jpg" /></span>
          <blockquote>"Simple, powerful and flexible without getting in your way - a core building block that elegantly leverages ExpressJS and unlocks it from the technical/developer side of the business."</blockquote>
          <p><span>— Amar Singh Rathor</span> Head of Standard Chartered Studios</p>
      </section>
    </div>
  </section>
  <section class="quote">
      <div class="wrapper">
        <section class="testimonial flex-column">
            <span class="avatar rounded"><img class="blackandwhite" srcset="assets/img/ronzio.jpeg, assets/img/ronzio@2x.jpeg 2x" src="assets/img/ronzio.jpeg" /></span>
            <blockquote>"By using Express Gateway the team was able to save time, without having to devote engineering time to building this important piece of our tech stack"</blockquote>
            <p><span>— Cristian Ronzio</span>Frontend Architect at Musement</p>
        </section>
        <section class="testimonial flex-column">
            <span class="avatar rounded"><img class="blackandwhite" srcset="assets/img/chad.jpeg, assets/img/chad@2x.jpeg 2x" src="assets/img/chad.jpeg" /></span>
            <blockquote>"Express Gateway was a simple to use and production ready solution for us to quickly allow public traffic to access our internal APIs."</blockquote>
            <p><span>— Chad Foley</span>Enterprise Application Engineer at City of Raleigh</p>
        </section>
      </div>
    </section>
