.blog {
  padding: 3rem 0;

  ul{
    width: auto;
  }
  &.wrapper {
    display: flex;
    flex-direction: row;
  }

  .article-list {
    flex: 9;

    .post-excerpt {
      padding: 0 0 3.2rem;
      display: flex;
      flex-direction: column;

      h2 {
        font-weight: 200;
        font-size: $font-size-36;
        a {
          color: $color-primary;
          text-decoration: none;
        }
      }
      .author {
        padding: .25rem 0 .5rem;
        color: $color-gray;
      }
      a {
        text-decoration: none;
      }
    }

    .button-read-more {
      align-self: flex-start;
      margin-top: 1rem;
      padding: .75rem;
      font-size: $font-size-14;

      background-color: $color-primary;
      color: $color-background;
      border-radius: 10px;
    }

  }

  .blog-sidebar {
    flex: 3;

    h3 {
      margin: 0;
      padding: .5rem .25rem;
      width: auto;
      font-size: $font-size-14;
      text-transform: uppercase;
      font-weight: 500;
    }

    h5 {
      margin: 0 0 .5rem 0;
      padding: 0;
      width: auto;
      font-size: $font-size-14;
      text-transform: uppercase;
      font-weight: 500;
    }

    section {
      margin-bottom: 2rem;

      ul {
        padding: .5rem 0 .75rem;
        li {
          line-height: $font-lineheight-list;
          display: block;

          a.sidebarnav {
            display: block;
            text-decoration: none;
            color: $color-primary;
            font-size: $font-size-16;
            line-height: 1.5rem;
            padding: 6px 0;
            border-bottom: 1px solid #b3b6b7;

            &:hover {
              color: $color-secondary-dark
            }
          }
        }
      }
    }
  }
}

.pagination {
  color: $color-gray;

  a {
    color: $color-primary;
    text-decoration: none;

    &.paginator-active:before {
      content: "";
      background: $color-primary;
    }

    &.pagecount {
      padding: .5rem;
    }
  }

  .prev {
    margin-right: 1rem;
    position: relative;
    &:before {
      content: "";
       position: absolute;
       width: 1rem;
       height: 1.25rem;
       left: -75%;
       top: -1px;
      // background: url(../img/icon-arrow.svg) 0 0 no-repeat;
       background-color: $color-gray;
       -webkit-mask: url(../img/icon-arrow.svg) no-repeat;
       mask: url(../img/icon-arrow.svg) no-repeat;
       -webkit-transform: rotate(180deg);
       transform: rotate(180deg);
    }
  }

  .next {
    margin-left: 1rem;
    position: relative;
    &:before {
      content: "";
       position: absolute;
       width: 1rem;
       height: 1.25rem;
       right: -75%;
       top: -1px;
       //background: url(../img/icon-arrow.svg) 0 0 no-repeat;
       background-color: $color-gray;
        -webkit-mask: url(../img/icon-arrow.svg) no-repeat;
        mask: url(../img/icon-arrow.svg) no-repeat;
      //  -webkit-transform: rotate(30deg);
      //  transform: rotate(30deg);
    }
  }

}

.back {
  margin-bottom: 4rem;
}
