#sb-sticky {
overflow-y: scroll;
}
#sb-sticky.stick {
  position: fixed;
  top: 0;
}

.toc-wrapper {
  flex-direction: column;
  padding-right: 2rem;
  flex-basis: 225px;
  align-self: stretch;
  position: relative;
  //height: calc(100vh - (#{$header-top-height} + #{$header-main-height} + #{$footer-height}));
  &.toc-wrapper-height {
    height: auto;
  }
  @include size(smalltomedium){
    position: fixed;
    /* margin-left: -3%; */
    padding: 0;
    flex: none;
    width: 100%;
    height: 3rem;
    background: #92cfd6;
    color: white;
    z-index: 50;
    top: 71px;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    min-width: 0;
    min-height: 0;
  }

}

.toc-responsive-menu-icon {
  display: hidden;
  order: 2;
  @include size(smalltomedium){
    pointer-events: all;
    position: relative;
    padding: 12px 15px;
    margin-right: 1rem;
  	display:  inline-block;
    z-index: 99;
    background: #92cfd6;
    border-right: 1px solid #0c6c7b;

    span {
      transition: rotate, .33s;
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-top: 8px solid #0c6c7b;
      position: relative;
      top: 8px;
      display: block;
      // margin-top: -7.5px;

    }
  }
}

#sb-sticky.sidebar-docs {
  transition: all .25s;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 2rem 0 1rem 0;
  width: 225px;
  //height: calc(100vh - (#{$header-main-height} + #{$footer-height}));
  // height: calc(100vh - (#{$header-top-height} + #{$header-main-height}));
  @include size(smalltomedium){
    position: static;
    top: auto;
    bottom: auto;
    right: auto;
    overflow: hidden;
    padding: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    pointer-events: none;
    min-height:0;
    min-width: 0;
  }
  h2 {
    padding-top: 0;
    font-size: 0;
    @include size(smalltomedium){
      order: 3;
      width: 78%;
      pointer-events: all;
    }
    a {
      text-decoration: none;
      font-size: $font-size-18;
      color: #373f3f;
      // font-weight: bold;

      @include size(smalltomedium){
        color: #373f3f;
        align-self: stretch;
        width: 100%;
        pointer-events: all;
      }
    }

  }

  nav > ul {
    @include size(smalltomedium){
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      min-height:0;
      min-width: 0;
    }
  }




  ul {
    @include size(smalltomedium){
      visibility: collapse;
      order: 4;
      width: 100%;
      color: $color-text;
      pointer-events: all;
    }
    ol, ul {
      padding-top: 1rem;
    }
    li {
      padding-left: 1rem;
      text-indent: -.5rem;
      font-size: $font-size-16;
      line-height: $font-lineheight-list;
      padding-bottom: .75rem;
      position: relative;

      @include size(smalltomedium){
        padding-left: 0;
      }
      &::before {
        content: "";
      }

      li {
        list-style: none;
        position: relative;
        font-size: $font-size-16;
        &::before {
          content: "";
        }
        li {
          list-style: none;
          position: relative;
          font-size: $font-size-14;
          &::before {
            content: "";
          }
        }
      }
    }
  }



    #toc-responsive {
        visibility: hidden;
        position: absolute;
        order: 1;

      @include size(smalltomedium){
        &:checked ~ ul {
          background: #d7f0f4;
          visibility: visible;
          order: 4;
          width: 100%;
          z-index: 90;
        }
        &:not(:checked) {
          ~ ul, ul ul {
            height: 0;
            opacity: 0;
            visibility: collapse;
          }
        }
        &:checked + label {
          background: #d7f0f4;
          span {
            transform: rotate(180deg);
            display: block;
            transition: rotate, .33s;
          }
        }

      }
    }


  ul {
    li {
      padding-bottom: 0;
      text-indent: 0;

      ul {
        padding: 0;

      }

      &:before {
        content: "";

      }
      a {
        text-decoration: none;
        border-bottom: 2px solid #f8fbfb;
        display: block;
        padding: .75rem;
        position: relative;
        color: $color-primary;

        @include size(smalltomedium) {
          color: $color-text;
          border-bottom: 1px solid #d7f0f4;
        }
        &:hover {
          background-color: #f8fbfb;
          @include size(smalltomedium) {
            background-color: #60c2cc;
          }
        }
        &.active {
            &:before {
              content: "";
              width: 15px;
              height: 15px;
              color: $color-text;
              position: absolute;
              left: -15px;
              top: 50%;
              margin-top: -7px;
              background: url('../img/icon-doc-arrow.svg') center center no-repeat;
            }
        }
      }
      &.haschildren {
        position: relative;
        // display: flex;
        // flex-direction: row;
        > a {
          //display: inline-block;
          width: 100%;

        }


        .child-list {
          transition: all .2s;

        }

        > ul.child-list  {
          height: 0;
          opacity: 0;
          visibility: collapse;
          @include size(smalltomedium){
            background: #c1e6ea;
            font-size: $font-size-18;
          }

          > li li {
            @include size(smalltomedium){
              background: #a6dde0;
              font-size: $font-size-16;
            }
          }
        }
        > label {
          width: 17px;
          height: 17px;
          //display: inline-block;
          transition: all .25s;
          right: 10px;
          position: absolute;
          top: 13px;

          // &.menuicon-submenu {
          //   right: 37.5%
          // }

          svg {
            width: 5px;
            height: 17px;
            display: block;
            opacity: .25;
            margin: 0 auto;

            .single-item {
              opacity: 0;
            }
          }
        }
        > input[type="checkbox"] {
          visibility: hidden;
          position: absolute;

            &:checked ~ .child-list {
              height: auto;
              opacity: 1;
              visibility: visible;
            }

            &:checked + label {

              transform: rotate(90deg);
              svg .single-item {
                opacity: 1;
              }
            }

            &:not(:checked) {
              ~ .child-list .child-list {
                height: 0;
                opacity: 0;
                visibility: collapse;
              }
            }

        }
      }
    }
  }
}
