.footer {
  border-top: 1px solid $color-background-shadow;
  padding: 1rem 0;
  background: #0c6c7b; /* Old browsers */
  background: -moz-linear-gradient(170deg, #0c6c7b 0%, #0c6c7b 45%, #37aedc 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(170deg, #0c6c7b 0%, #0c6c7b 45%,#37aedc 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(170deg, #0c6c7b 0%, #0c6c7b 45%,#37aedc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  font-size: $font-size-18;
  color: $color-background;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c6c7b', endColorstr='#37aedc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  .wrapper {
    display: flex;
    flex-direction: row;
    padding-top: 1.5rem;

    @include size(smalltomedium){
      flex-direction: column;
    }
  }

  section {
    flex: 1;
    @include size(smalltomedium){
      margin-bottom: 2rem;
    }
  }

  li {
    padding: 5px 0;
  }

  h1 {
    font-size: $font-size-14;
  }

  h5 {
    font-weight: 900;
    padding-bottom: .75rem;
  }

  h5, a, p {
    font-size: $font-size-14;
    color: $color-background;
  }

  .social-links {
    nav {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      width: 80%;
      a {
        align-self: flex-start;
        flex: 1;
        max-width: 50px;
        svg {
          display: block;
          width: 50%;
          opacity: .8;
        }
      }
    }
  }
  
  .copyright {
    width: 960px;
    margin: 0 auto;
    color: #a6a8ab;
    font-size: 12px;

    @include size(smalltomedium){
      text-align: center;
      width: 100%
    }
  }
}

.gitter-open-chat-button {
  color: white;
  background-color: #34a8c4;

  &:hover {
    background-color: lighten($color: (#34a8c4), $amount: 10);
  }
}
