

.background-gray {
  background-color: $color-background-shadow;
}

.background-blue {
  background-color: $color-background-highlight;
}

.blackandwhite {
 -webkit-filter: grayscale(100%);
 filter: grayscale(100%);
 transition: 0.5s;

 &:hover {
    filter: none;
  }
}

a.red {
  color: red;
}

.algoliaLv0, .algoliaLv1, .algoliaLv2 {
  display: none;
}
