.site-header {
    position: fixed;
    z-index: 99;
    top:0;
    width:100%;
    background: $color-background;
    -webkit-box-shadow: 0px 7px 10px 0px rgba(71,118,119,.15);
    -moz-box-shadow: 0px 7px 10px 0px rgba(71,118,119,.15);
    box-shadow: 0px 7px 10px 0px rgba(71,118,119,.15);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column-reverse;
    margin-bottom: 10.3125rem;

    .wrapper-banner {
      display: flex;
      align-self: stretch;
      justify-content: center;
      background: $color-gray-blue;
      font-size: $font-size-14;
      text-transform: uppercase;
      font-weight: bold;
      color: $color-primary;
      height: $header-top-height;

      p {
        margin-right: 2rem;
        font-size: $font-size-14;
      }

      .wrapper {
        justify-content: flex-end;
      }
    }

    .wrapper {
      display: flex;
      align-items: center;
    }

    .logo {
      flex: 1;
      svg {
        width: 300px;
        max-height: 50px;
      }
    }

    nav {
      display: flex;
      align-items: center;
      width: 45%;
      margin-left: auto;
      justify-content: space-between;
      height: $header-main-height;
      font-weight: 200;

      span {
        display: flex;
        align-items: center;
        height: 100%;
        position: relative;
        font-size: $font-size-16;

        a {
          padding: 1px;
          color: $color-secondary-dark;
          display: block;

          &:hover {
            color: $color-primary;
          }
        }

        &.active {
          a {
            color: $color-primary;

          }
          &:after {
            bottom: 0;
            right: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            z-index: 10;
            pointer-events: none;
            border-width: 0 15px 7px 15px;
            border-color: transparent transparent $color-primary transparent;
            margin-right: -15px;
          }
        }

      }

    }
    .nav-sub-menu-trigger {
    	text-decoration:none;
    	line-height:32px;
    }

    .nav-sub-menu {
      display:none;
    	position:absolute;
      z-index: 15;
    	top:75%;
    	left:0;
    	background:#fff;
      border: 1px solid $color-gray-light;

      li{
        display: block;
        a {
          display: block;
          padding:.5750rem;
        	width:200px;
          border-bottom: 1px solid $color-gray-light;

          &:hover {
            background: $color-secondary-light;
          }
        }
      }

      &:hover {
        display: block;

      }
    }

    .nav-sub-menu-trigger:hover {
      padding: 10px inherit;
    }

    .nav-sub-menu-trigger:hover + .nav-sub-menu {
      display: block;

    }

}
