.site-header {
    position: fixed;
    z-index: 50;
    top:0;
    width:100%;
    background: $color-background;
    -webkit-box-shadow: 0px 7px 10px 0px rgba(71,118,119,.15);
    -moz-box-shadow: 0px 7px 10px 0px rgba(71,118,119,.15);
    box-shadow: 0px 7px 10px 0px rgba(71,118,119,.15);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column-reverse;
    margin-bottom: 10.3125rem;
    margin-top: 80px;
    transition: margin-top 200ms;
    @include size(medium600) {
      margin-top: 60px;
    }
    .wrapper {
      display: flex;
      align-items: center;

      @include size(smalltomedium) {
        width: 94%;
      }
    }

    .logo {
      flex: 1;
      svg {
        width: 300px;
        max-height: 50px;
        @include size(smalltomedium) {
          width: 250px;
        }
      }
      @include size(smalltomedium) {
        display: inline-block;
        flex: initial
      }
    }

    nav {
      display: flex;
      align-items: center;
      width: 60%;
      margin-left: auto;
      justify-content: space-between;
      height: $header-main-height;
      font-weight: 200;

      span {
        display: flex;
        align-items: center;
        position: relative;
        font-size: $font-size-16;

        a {
          padding: 1px;
          color: $color-secondary-dark;
          display: block;

          &:hover {
            color: $color-primary;
          }
        }

        &.github-button-wrapper {
          height: 51.5px;
          @include size(smalltomedium) {
            margin-left: 10px;
          }
        }

        &.search-button {
          @include size(smalltomedium) {
            order: 10;
          }
        }

        &.active {
          a {
            color: $color-primary;
            @include size(smalltomedium) {
              background: $color-gray-blue;
            }
          }
          &:after {
            bottom: 0;
            right: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            z-index: 10;
            pointer-events: none;
            border-width: 0 15px 7px 15px;
            border-color: transparent transparent $color-primary transparent;
            margin-right: -15px;
            @include size(smalltomedium) {
              border: none;
            }
          }
        }

      }

    }
    // .nav-sub-menu-trigger {
    // 	text-decoration:none;
    // 	line-height:32px;
    // }
    //
    // .nav-sub-menu {
    //   display:none;
    // 	position:absolute;
    //   z-index: 15;
    // 	top:75%;
    // 	left:0;
    // 	background:#fff;
    //   border: 1px solid $color-gray-light;
    //
    //   li{
    //     display: block;
    //     a {
    //       display: block;
    //       padding:.5750rem;
    //     	width:200px;
    //       border-bottom: 1px solid $color-gray-light;
    //
    //       &:hover {
    //         background: $color-secondary-light;
    //       }
    //     }
    //   }
    //
    //   &:hover {
    //     display: block;
    //
    //   }
    // }
    //
    // .nav-sub-menu-trigger:hover {
    //   padding: 10px inherit;
    // }
    //
    // .nav-sub-menu-trigger:hover + .nav-sub-menu {
    //   display: block;
    //
    // }


}

.hero {
  background: #32a5c1; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #32a5c1 0%, #0f8696 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #32a5c1 0%,#0f8696 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #32a5c1 0%,#0f8696 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#32a5c1', endColorstr='#0f8696',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  text-align: center;

  h1 {
    margin: 0 auto;
    font-size: $font-size-52;
    font-family: 'Roboto', $font-family;
    font-weight: 100;
    letter-spacing: -1px;
    padding: 6rem 0;
    color: $color-background;
    display: block;
    @include size(smalltomedium) {
      padding: 3rem 2rem;
      font-size: $font-size-32;
    }
  }

}

.welcome-banner {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: #32a5c1;
  z-index: 51;
  text-align: center;
  color: #FFF;
  overflow: hidden;
  transition: height 200ms;
  @include size(medium600) {
    height: 60px;
  }
  @include size(medium) {
    z-index: 0;
  };
  .wrapper {
    position: relative;
    .welcome-banner-close {
      position: absolute;
      top: -5px;
      right: -5px;
      font-size: 15px;
      color: #FFF;
      width: 20px;
      height: 20px;
      text-align: center;
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0.2);
      border: 1px solid rgba(255, 255, 255, 0.6);
      border-radius: 50%;
    }
  }
  .welcome-banner-title {
    width: 100%;
    font-weight: 600;
    margin: 15px 0 10px;
    font-size: $font-size-18;
    @include size(medium600) {
      margin: 10px 0 5px;
      font-size: 0.8rem;
    }
    span {
      font-size: $font-size-22;
      @include size(medium600) {
        font-size: $font-size-18;
      }
    }
  }
  .welcome-banner-text {
    width: 100%;
    font-weight: 300;
    @include size(medium600) {
      font-size: 0.7rem;
    }
    a {
      color: inherit;
      text-decoration: underline;
    }
  }
}
.welcome-banner-filler {
  margin-top: 80px;
  transition: margin-top 200ms;
  @include size(medium600) {
    margin-top: 60px;
  }
}

.without-welcome-banner {
  .welcome-banner {
    transition: height 200ms;
    height: 0;
  }
  .site-header,
  .header-menu-icon,
  .welcome-banner-filler {
    transition: margin-top 200ms;
    margin-top: 0;
  }
}
