.site-header {
    position: fixed;
    z-index: 50;
    top:0;
    width:100%;
    background: $color-background;
    -webkit-box-shadow: 0px 7px 10px 0px rgba(71,118,119,.15);
    -moz-box-shadow: 0px 7px 10px 0px rgba(71,118,119,.15);
    box-shadow: 0px 7px 10px 0px rgba(71,118,119,.15);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column-reverse;
    margin-bottom: 10.3125rem;

    .wrapper {
      display: flex;
      align-items: center;

      @include size(smalltomedium) {
        width: 94%;
      }
    }

    .logo {
      flex: 1;
      svg {
        width: 300px;
        max-height: 50px;
        @include size(smalltomedium) {
          width: 250px;
        }
      }
      @include size(smalltomedium) {
        display: inline-block;
        flex: initial
      }
    }

    nav {
      display: flex;
      align-items: center;
      width: 60%;
      margin-left: auto;
      justify-content: space-between;
      height: $header-main-height;
      font-weight: 200;

      .search-button-wrapper {
        position: relative;

        .algolia-autocomplete {
          position: absolute !important;
          top: 40px;
        }
      }

      .search-icon {
        cursor: pointer;
        user-select: none;
        width: 26px;
        height: 26px;
        background-image: url('../img/mag-glass.svg');
      }

      #search-check-box {
        display: none;
      }

      .search-text-box {
        display: none;
        border-radius: 10px;
        border: 1px solid #0E8696;
        width: 220px;
        height: 20px;
        padding: 5px 10px;
        user-select: none;
      }

      input[type=checkbox]:checked + span > .search-text-box {
        display: initial;
      }

      .nav-element {
        display: flex;
        align-items: center;
        position: relative;
        font-size: $font-size-16;

        a {
          padding: 1px;
          color: $color-secondary-dark;
          display: block;

          &:hover {
            color: $color-primary;
          }
        }

        &.github-button-wrapper {
          height: 51.5px;
          @include size(smalltomedium) {
            margin-left: 10px;
          }
        }

        &.search-button {
          @include size(smalltomedium) {
            order: 10;
          }
        }

        &.active {
          a {
            color: $color-primary;
            @include size(smalltomedium) {
              background: $color-gray-blue;
            }
          }
          &:after {
            bottom: 0;
            right: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            z-index: 10;
            pointer-events: none;
            border-width: 0 15px 7px 15px;
            border-color: transparent transparent $color-primary transparent;
            margin-right: -15px;
            @include size(smalltomedium) {
              border: none;
            }
          }
        }

      }
    }
}

.hero {
  background: #32a5c1; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #32a5c1 0%, #0f8696 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #32a5c1 0%,#0f8696 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #32a5c1 0%,#0f8696 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#32a5c1', endColorstr='#0f8696',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  text-align: center;

  h1 {
    margin: 0 auto;
    font-size: $font-size-52;
    font-family: 'Roboto', $font-family;
    font-weight: 100;
    letter-spacing: -1px;
    padding: 6rem 0;
    color: $color-background;
    display: block;
    @include size(smalltomedium) {
      padding: 3rem 2rem;
      font-size: $font-size-32;
    }
  }

}
