.site-header {
    position: fixed;
    z-index: 50;
    top:0;
    width:100%;
    background: $color-background;
    -webkit-box-shadow: 0px 7px 10px 0px rgba(71,118,119,.15);
    -moz-box-shadow: 0px 7px 10px 0px rgba(71,118,119,.15);
    box-shadow: 0px 7px 10px 0px rgba(71,118,119,.15);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column-reverse;
    margin-bottom: 10.3125rem;

    .wrapper {
      display: flex;
      align-items: center;

      @include size(smalltomedium){
        width: 94%;
      }
    }

    .logo {
      flex: 1;
      svg {
        width: 300px;
        max-height: 50px;
        @include size(smalltomedium) {
          width: 250px;
        }
      }
      @include size(smalltomedium) {
        display: inline-block;
        flex: initial
      }
    }

    nav {
      display: flex;
      align-items: center;
      width: 55%;
      margin-left: auto;
      justify-content: space-between;
      height: $header-main-height;
      font-weight: 200;

      span {
        display: flex;
        align-items: center;
        height: 100%;
        position: relative;
        font-size: $font-size-16;

        a {
          padding: 1px;
          color: $color-secondary-dark;
          display: block;

          &:hover {
            color: $color-primary;
          }
        }

        &.github-button-wrapper {
          width: 51.5px;
          @include size(smalltomedium){
            margin-left: 10px;
          }
        }

        &.active {
          a {
            color: $color-primary;
            @include size(smalltomedium){
              background: $color-gray-blue;
            }
          }
          &:after {
            bottom: 0;
            right: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            z-index: 10;
            pointer-events: none;
            border-width: 0 15px 7px 15px;
            border-color: transparent transparent $color-primary transparent;
            margin-right: -15px;
            @include size(smalltomedium){
              border: none;
            }
          }
        }

      }

    }
    .nav-sub-menu-trigger {
    	text-decoration:none;
    	line-height:32px;
    }

    .nav-sub-menu {
      display:none;
    	position:absolute;
      z-index: 15;
    	top:75%;
    	left:0;
    	background:#fff;
      border: 1px solid $color-gray-light;

      li{
        display: block;
        a {
          display: block;
          padding:.5750rem;
        	width:200px;
          border-bottom: 1px solid $color-gray-light;

          &:hover {
            background: $color-secondary-light;
          }
        }
      }

      &:hover {
        display: block;

      }
    }

    .nav-sub-menu-trigger:hover {
      padding: 10px inherit;
    }

    .nav-sub-menu-trigger:hover + .nav-sub-menu {
      display: block;

    }


}

.hero {
  background: #32a5c1; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #32a5c1 0%, #0f8696 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #32a5c1 0%,#0f8696 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #32a5c1 0%,#0f8696 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#32a5c1', endColorstr='#0f8696',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  text-align: center;

  h1 {
    margin: 0 auto;
    font-size: $font-size-48;
    font-weight: 100;
    letter-spacing: -2px;
    padding: 6rem 0;
    color: $color-background;
    display: block;
    @include size(smalltomedium){
      padding: 3rem 2rem;
      font-size: $font-size-32;
    }
  }

}
