main {
    padding-top: $header-main-height;
    background: $color-background;
    flex: 1;
}

.sticky-flex {
  flex: 1;
}

.sticky {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.wrapper {
  width: 960px;
  margin: 0 auto;
  &.full-width {
    width: 100%;
  }
  @include size(smalltomedium) {
    width: 94%;
  }
}

.full-width {
  width: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex: 1;
  &.joyent {
    align-self: center;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
  @include size(small) {
    &.with-graphics {
      flex-direction: column;
      width: 85%;
    }
  }
  @include size(medium) {
    .flex-column {
      width: 60%;
      margin-left: 10%;

      h3 {
        line-height: 2rem;
        margin-bottom: 1rem;
      }
    }
  }
}

.flex-row-reverse {
  display: flex;
  flex-direction: row-reverse;
    &.with-graphics {
      @include size(small) {
        svg {
          width: 100%;
          margin: 0 auto;
          margin-left: 0;
          margin-bottom: 2rem;
        }
    }
  }
}

.flex-one {
  flex: 1;
}

.flex-two {
  flex: 2;
}

.flex-three {
  flex: 3;
}

.flex-7 {
  flex: 7;
}

.flex-5 {
  flex: 5;
}

.flex-4 {
  flex: 4;
}

.flex-3 {
  flex: 3;
}

.space-around {
  justify-content: space-around;
}

.space-between {
  justify-content: space-between;
}

.padding-left {
  padding-left: 10%;
}

.padding-right {
  padding-right: 10%;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.cards {
  width: 960px;
  margin: 50px auto;
  display: flex;
  min-width: 0;
  min-height: 0;

  @include size(medium) {
    width: 90%;
    margin: 3rem auto 4rem;
    flex-direction: row;
    flex-wrap: wrap;

  }

  @include size(small) {
    width: 90%;
    margin: 3rem auto 4rem;
    flex-direction: column;
  }

  & > li {
    padding: 2%;
    background: transparent;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;

    &:nth-child(even) {
      padding-top: 5.25rem;
      @include size(medium) {
        padding-top: 2%;
      }
    }

    svg {
      width: 30%;
      @include size(medium) {
        min-height: 100px;
      }
    }

    &:nth-child(3) {
      svg {
        width: 50%;
        margin-left: -23%;
      }
    }

    @include size(medium) {
      flex-basis: 48%;
    }

    h5 {
      font-size: $font-size-26;
      font-weight: 200;
      line-height: 2.5rem;
      color: $color-primary;
      padding: 1rem;
    }

    ul {
      list-style: none;
      line-height: 1.5rem;

      li {
        font-size: $font-size-16;
        line-height: $font-lineheight-list;
        padding-bottom: .75rem;
        margin-bottom: .75rem;
        text-align: center;
        position: relative;
        &:after {
          content: "";
          width: 40%;
          height: 2px;
          background: $color-secondary-light;
          position: absolute;
          bottom: 0;
          left: 50%;
          margin-left: -20%;
        }
        &:last-child:after {
          content: "";
          width: 0;
          height: 0;
          background: transparent;
          position: static;
          bottom: auto;
          left: auto;
          margin-left: 0;
        }
      }


    }
  }
}

.screencast-feature {
  background: $color-secondary-light;
  padding: 3rem 0;
  position: relative;
  transition: all 2s;

  &.videoplay {
    background: $color-secondary-dark;
  }
  .zindexflat {
    z-index: 1
  }

  .button-large {
    margin: 3rem auto 0;

  }

  #icon-play-button {
    position: absolute;
    width: 100px;
    height: 100px;
    right: 50%;
    margin-right: -50px;
    top: 50%;
    margin-top: -50px;
    z-index: 20;
    pointer-events: none;
    transition: all .2s;
    &.videoplay {
      transform: scale(0);
      opacity: 0;
    }
  }

  #wave-video-bg {
    position: absolute;
    top: 50%;
    margin-top: -120px;
    z-index: 6;
    pointer-events: none;
    @include size(smalltomedium) {
        margin-top: -8%;
    }
    &.zindexflat {
      z-index: 1
    }
  }

  #wave-video-single-bg {
    position: absolute;
    top: 80%;
    margin-top: -236px;
    z-index: 1;
    transform: rotate(180deg);
    pointer-events: none;
  }

  .video-aspect-ratio {
    width: 500px;
    position: relative;
    margin: 0 auto;

    @include size(smalltomedium) {
        width: 85%;
    }
  }

  .video-border {
    width: 100%;
    padding-top: 56.25%;
    position: relative; /* If you want text inside of it */
    margin: 0 auto;
    position: relative;
    background: transparent;
    border: 3px solid $color-gray;
    z-index: 8;
    pointer-events: none;
    &.zindexflat {
      z-index: 1
    }

  }

  .video-container {
      background: $color-background;
      width: 100%;
      padding-top: 56.25%;
      position: absolute;
      z-index: 4;
      margin: 0 auto 0;
      top: 0;
      // left: 50%;
      // margin-left: -250px;
      transition: all 1.25s, background-color, .2s;
      &:hover {
        cursor: pointer;
      }

      &:hover + #icon-play-button {
        transform: scale(1.2);
      }

      &.videoplay {
        transform: scale(1.2);
      }

      svg {
        display: block;
        position: absolute;
        top: 18px;
        width: 94%;
        padding: 3%;
      }

  }
}

.contributions {
  #wave-video-bg {
    margin-top: -70px;
  }
}
.contributions {
  #wave-video-single-bg {
    margin-top: -120px;
  }
}

h2.description {
  padding: 2rem 0 .5rem 0;
  font-weight: 500;
  line-height: 2.5rem;
  color: $color-secondary-dark;
  letter-spacing: -1px;
  opacity: .8;
  font-size: $font-size-34;
}

.introduction {
  .flex-center {
    align-items: flex-start;
    @include size(smalltomedium) {
      flex-direction: column-reverse;
      align-items: center;

      .home-cta {
        width: 90%;
        margin: 0 auto;
        text-align: center;

        .button-large {
          margin: 1rem auto 3rem;
        }
      }
    }
    .marchitecture {
      width: 62%;
      text-align: right;
      margin-left: auto;
      margin-bottom: 3rem;
      padding-left: 10px;

      @include size(medium) {
          width: 70%;
          padding: 0;
          margin: 0 auto 0;
          text-align: center;
      }

      @include size(small) {
          width: 100%;
          padding: 0;
          margin: 0 auto 0;
          text-align: center;
      }
    }
  }
  svg {
    // width: 5/7 * 100%;
    margin: 2rem 0 1.5rem;
  }

  p {
    margin-left: 7%;
    margin-top: 1rem;

  }

  .button-large {
    margin: 2.5rem 0 4rem 0;
  }
}

.testimonial-text {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  &:before, &:after {
    content: '';
    flex-grow: 1;
    border: 1px solid #E0E1E2;
    height: 0;
  }
  &:after {
    margin-left: .75rem;
  }
  &:before {
    margin-right: .75rem;
  }
}

.testimonial {
  display: flex;
  padding: 1rem;
  align-items: center;
  flex: 1;
  p {
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1.25rem;
    span {
      display: block;
    }
  }
}

.quote {
  padding: 2.5rem;
  text-align: center;
  background-color: $color-background;
  color: $color-text;
  font-weight: 200;
  font-size: $font-size-18;
  .wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 960px;

    @include size(smalltomedium) {
      width: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

  }

  div {
    flex: 2;
  }

  blockquote {
    margin-top: -50px;
    flex: 5;
    text-align: center;
    font-weight: 200;
    font-style: normal;
    line-height: $font-lineheight-base;
    min-height: 8.5rem;
    padding-bottom: 1rem;
    @include size(medium) {
      min-height: 0;
      width: 60%;
      margin: -50px auto 0;
    }
  }

  .avatar {
    overflow: hidden;

    &.rounded {
      width: 100px;
      height: 100px;
      border-radius: 50px;
      border: 3px solid $color-secondary-dark;
      margin: 15px 0 60px;

      img.doug, img.james {
        margin-left: -5px;
      }
    }
    img {
      max-width: 150px;
      max-height: 150px;

      &.joyent {
        max-width: 250px;
        max-height: 250px;
      }
    }
  }
}

.toc {

  .toclinkwrapper {
    border-left: 12px solid $color-gray-blue;
    padding: 0 0 1rem 1rem;
  }
  a {
    margin-left: 1.5rem;
    font-size: $font-size-14;
    color: $color-secondary-dark;
    line-height: $font-lineheight-list + 1;
    border-bottom: 1px solid $color-gray-light;
    position: relative;
    text-transform: capitalize;
    text-decoration: none;
    &:last-child {
      border-bottom: none;
    }
    &:hover {
      color: $color-primary;
    }
    &:before {
      content: "";
      color: $color-text;
      position: absolute;
      left: -1.5rem;
    }
    &.nav-active {
      color: #34a8c4;
      &:before {
        content: "\27F6";
        color: $color-text;
        position: absolute;
        left: -1.75rem;
      }
    }
  }

  .toc-header {
    color: #34a8c4;
    font-weight: bold;
    font-size: $font-size-16;
    padding: 1rem 0 1.5rem;
  }
}

.announcement {
  background: $color-secondary-light;
  font-weight: 300;
  position: relative;

  h3 {
    padding: 1.75rem;
    @include size(smalltomedium) {
      line-height: 2rem;
      padding: 1rem;
      font-size: $font-size-18;
    }
  }
  .emailform {
    width: 100%;
    display: flex;
    background-color: $color-background;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 50%;
      margin-right: -30px;
      width: 0;
      height: 0;
      border-left: 30px solid transparent;
      border-right: 30px solid transparent;
      border-top: 15px solid #e1f2f6;
    }
    #mc_embed_signup {
      background: #32a5c1; /* Old browsers */
      background: -moz-linear-gradient(-45deg, #32a5c1 0%, #0f8696 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(-45deg, #32a5c1 0%,#0f8696 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(135deg, #32a5c1 0%,#0f8696 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#32a5c1', endColorstr='#0f8696',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
      font-family: $font-family;
      min-width: 60%;
      padding: 1.5rem 0 1rem;

      span {
        color: white;
      }

      form {
        text-align: center;
        padding: 0;
        label[for="mce-EMAIL"] {
          color: $color-background;
          padding:0 0 .75rem;
          font-weight: 300;
          font-family: $font-family;
          font-size: $font-size-18;
          @include size(smalltomedium) {
            font-size: $font-size-18;
            line-height: 1.25rem;
          }
        }

      }
      .email-form-inputs {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        width: 60%;
        height: 2.5rem;
        margin-bottom: 10px;
        letter-spacing: normal;
        @include size(smalltomedium) {
          width: 90%
        }
        #mce-EMAIL {
          margin: 0 20px 0 0;
          display: flex;
          flex: 4;
          font-family: $font-family;
          border-radius: 10px;
          color: white;
          background: rgba(225,225,225,.5);
          border: none;
          padding-left: 1.25rem;
          &::-webkit-input-placeholder {
            color: $color-background;
          }
          &::-moz-placeholder {
            color: $color-background;
          }
          &:-ms-input-placeholder {
            color: $color-background;
          }
          &:-moz-placeholder {
            color: $color-background;
          }
          &::placeholder {
            color: $color-background;
          }

        }

        #mc-embedded-subscribe {

          flex: 2;
          background: $color-highlight;
          color: $color-text;
          height: 100%;
          margin: 0;
          font-size: $font-size-18;
          font-family: $font-family;
          border-radius: 10px;
        }
      }
    }
  }
}

.home-cta {
  align-self: flex-start;
  flex: 1;
  padding-right: 10px;
  width: 50%;
  p {
    margin-left: 0;
    color: $color-primary;
    font-weight: 400;
  }
}

.button-large {
  background-color: $color-highlight;
  color: $color-text;
  width: 200px;
  padding: 1rem 0;
  font-size: $font-size-29;
  text-align: center;
  border-radius: 40px;
  display: block;
}

.page-section {

  padding-bottom: 2rem;
}

.page-section-normal {
  @extend .page-section;
}

.page-section-white {
  @extend .page-section;
}

.page-section-blue {
  @extend .page-section;
  background: $color-secondary-light;
  padding-top: 0;
  padding-bottom: 0;
}

.page-section-blue {
  .svg-fix {
    margin-top: 2rem;
  }
  .with-graphics {
    ol li {
      list-style: decimal;
    }
  }
}

.page-section-white {
  em {
    margin: 0 0 0 -.2rem;
    display: inline-block;
    font-style: italic;
  }

  h5 em {
    display: inline;
    font-style: italic;
  }
}

.svg-fix {
  /* fixes space around SVG */
   svg { display: block; }
}

.page-section-primary {
  @extend .page-section;
  background: $color-primary;
}

.wrapper-flex {
  display: flex;
  flex-direction: row;
  width: 900px;
  margin: 0 auto;

  @include size(smalltomedium) {
    width: 85%;
  }

  .wrapper {
    display: flex;
    flex-direction: row;
    flex: 10;
    width: auto;
    //padding-bottom: 4rem;

    @include size(smalltomedium) {
      width: 100%;

      .flex-column {
        width: 100%;
      }
    }

    h5, p {
      width: 100%;
    }

    &:before, &:after {
      content: "";
      display: block;
      // width: 100%;
      // flex: 1;
      padding: 20px;
      @include size(smalltomedium) {
        padding: 0;
      }
    }

  }
}

.border-top-blue {
  padding: 2.5rem 0 0;
  margin: 2rem auto 0;
  border-top: 2px solid $color-secondary-light;
}


.infographics {

  .wrapper.with-graphics {
    margin: 2rem 0;
    align-items: center;
    justify-content: space-between;
    display: flex;

    svg {
      text-align: center;
      margin: 0 auto;
      width: auto;
      height: 300px;
      padding-right: 5%;
      flex: 6.5;

      @include size(smalltomedium) {
        max-width: 100%;
        height: auto;
      }
      @include size(small) {
        max-width: 100%;
        width: 100%;
      }

    }

    ol {
      flex: 3;
      @include size(medium) {
        flex: none;
        width: 40%;
        margin-bottom: 2rem;
        margin-left: 5%;
      }
      li {
        font-size: $font-size-16;
        padding: .75rem 0;
        list-style: none;
        font-weight: 300;
        line-height: 1.5rem;
      }
    }

    @include size(smalltomedium) {
      margin: 0;
      width: 100%;

      svg {
        width: 85%;
        padding: 0;
      }

      ol {
        margin-bottom: 2rem;
      }
    }

  }

}

.flex-row-reverse {
  .wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  svg {
    min-width: 31%;
    height: 380px;
    margin-left: 100px;
  }
}

p code, table td code, li > code {
  align-self: flex-start;
  background-color: $color-gray-light;
  color: $color-text;
  padding: 2px 4px;
  border-radius: 5px;
  margin-top: -2px;
  margin-bottom: -2px;
  font-family: 'Inconsolata', monospace;
  font-size: $font-size-14;
}

.noscroll {
  overflow: hidden;
}

.contribute {
  list-style: circle;
    margin-left: 1.25rem;
    font-size: 14px;
    font-weight: 300;
    line-height: 2rem;
}

.notfound {
  text-align: center;
  padding: 0 0 4rem;
  background: lighten($color-secondary-light, 10%);

  main {
    background: transparent;
  }
  svg:first-of-type {
    transform: rotate(-5deg) scale(1.5);
    opacity: .5;
    margin: 0 !important;
  }

  ul {
    width: 100% !important;
    li {
      a {
        display: block;
        text-align: center;
        padding: .75rem;
      }
    }
  }
}

.about.documentation.documentation.case-study {

  img {
    width: 285px;
    border: 1px solid black;
    padding: 67.5px;
    border-radius: 10000px;
  }

  blockquote p {
    color: #0e8696;
    font-style: normal;
    font-weight: 400;
  }
  h3 {
    padding: 15px 0px;
    color: #34a7c2;
    font-size: 36px;
    text-align: center;

    &:not(:first-of-type) {
      border-top: 3px solid #e0f0f5;
    }
  }
}

