main {
    padding-top: $header-main-height + $header-top-height;
    background: $color-background;
    flex: 1;
}

.sticky-flex {
  flex: 1;
}

.sticky {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.wrapper {
  width: 960px;
  margin: 0 auto;
  &.full-width {
    width: 100%;
  }

}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.flex-one {
  flex: 1;
}

.flex-two {
  flex: 2;
}

.flex-three {
  flex: 3;
}

.flex-7 {
  flex: 7;
}

.flex-5 {
  flex: 5;
}

.flex-4 {
  flex: 4;
}

.flex-3 {
  flex: 3;
}

.space-around {
  justify-content: space-around;
}

.space-between {
  justify-content: space-between;
}

.padding-left {
  padding-left: 10%;
}

.padding-right {
  padding-right: 10%;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.cards {
  width: 960px;
  margin: 50px auto;
  display: flex;
  min-width: 0;
  min-height: 0;


  & > li {
    padding: 2%;
    background: transparent;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;

    .grid-content {

    }
    &:nth-child(even) {
      padding-top: 4rem;
    }

    svg {
      width: 30%;
    }

    &:nth-child(3){
      svg {
        width: 50%;
        margin-left: -23%;
      }
    }
    // h3 {
    //   text-align: center;
    //   color: $color-primary;
    //   font-size: $font-size-36;
    //   padding: 2rem 0 1rem;
    // }

    h5 {
      font-size: $font-size-26;
      font-weight: 200;
      line-height: 2.5rem;
      color: $color-primary;
      padding: 1rem;
    }

    ul {
      list-style: none;
      line-height: 1.5rem;

      li {
        // padding-left: 1rem;
        // text-indent: -.5rem;
        font-size: $font-size-16;
        line-height: $font-lineheight-list;
        padding-bottom: .75rem;
        margin-bottom: .75rem;
        text-align: center;
        // &::before {
        //   content: "•";
        //   color: $color-highlight;
        //   position: relative;
        //   right: .5rem;
        //   font-size: 1rem;
        // }
        position: relative;
        &:after {
          content: "";
          width: 40%;
          height: 2px;
          background: $color-secondary-light;
          position: absolute;
          bottom: 0;
          left: 50%;
          margin-left: -20%;
        }
        &:last-child:after {
          content: "";
          width: 0;
          height: 0;
          background: transparent;
          position: static;
          bottom: auto;
          left: auto;
          margin-left: 0;
        }
      }


    }
  }
}

.screencast-feature {
  background: $color-secondary-light;
  padding: 3rem 0;
  position: relative;

  .zindexflat {
    z-index: 1
  }
  
  #wave-video-bg {
    position: absolute;
    top: 50%;
    margin-top: -100px;
    z-index: 6;
  }

  #wave-video-single-bg {
    position: absolute;
    top: 80%;
    margin-top: -100px;
    z-index: 1;
    transform: rotate(180deg);
  }

  .video-border {
    width: 500px;
    height: 281px;
    margin: 0 auto;
    position: relative;
    background: transparent;
    border: 3px solid $color-gray;
    z-index: 8;
    &:before {
      content: "play";
      position: absolute;
      width: 50px;
      height: 50px;
      background: red;
      right: 50%;
      margin-right: -25px;
      top: 50%;
      margin-top: -25px;
      z-index: 20;
    }
  }

  .video-container {
      background: $color-background;
      width: 500px;
      height: 281px;
      position: absolute;
      z-index: 4;
      margin: 3rem auto 0;
      top: 0;
      left: 50%;
      margin-left: -250px;

  }
}

.grid-three {
  margin: 50px auto;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-column-gap: 3%;

  li {
    background-color: $color-background-shadow;

    h5 {
      padding: 2rem 0;
    }

    // .code {
    //   border: 1px solid $color-background-shadow;
    //   background: white;
    //   height: 200px;
    // }
  }
}

h2.description {
  padding: 0 0 .5rem 0;
  font-weight: 500;
  line-height: $font-lineheight-base + 2;
  color: $color-secondary-dark;
  letter-spacing: -2px;
}

.introduction {
  .flex-center {
    align-items: flex-start;
  }
  svg {
    width: 5/7 * 100%;
    margin: 2rem 0 1.5rem;
  }

  p {
    margin-left: 7%;
    margin-top: 1rem;

  }

  .button-large {
    margin: 2.5rem 0 4rem 0;
  }
}

.quote {
  padding: 2.5rem;
  text-align: center;
  background-color: $color-secondary-light;
  color: $color-text;
  font-weight: 200;
  font-size: $font-size-18;
  .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 960px;

    .testimonial {
      display: flex;
      padding: 1rem;
      align-items: flex-start;

      p {
        font-size: $font-size-14;
        font-style: italic;
        font-weight: 200;
      }
    }
  }

  div {
    flex: 2;
  }

  blockquote {
    margin-top: -50px;
    flex: 5;
    text-align: left;
    font-weight: 200;
    font-style: normal;
    line-height: $font-lineheight-base;
  }

  .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 3px solid $color-secondary-dark;
    margin: 15px 0 60px;
    overflow: hidden;
    img {
      width: 100px;
      height: auto;
      margin-left: -5px;
    }
  }
}

.toc {

  .toclinkwrapper {
    border-left: 12px solid $color-gray-blue;
    padding: 0 0 1rem 1rem;
  }
  a {
    margin-left: 1.5rem;
    font-size: $font-size-14;
    color: $color-secondary-dark;
    line-height: $font-lineheight-list + 1;
    border-bottom: 1px solid $color-gray-light;
    position: relative;
    text-transform: capitalize;
    text-decoration: none;
    &:last-child {
      border-bottom: none;
    }
    &:hover {
      color: $color-primary;
    }
    &:before {
      content: "";
      color: $color-text;
      position: absolute;
      left: -1.5rem;
    }
    &.nav-active {
      color: #34a8c4;
      &:before {
        content: "\27F6";
        color: $color-text;
        position: absolute;
        left: -1.75rem;
      }
    }
  }

  .toc-header {
    color: #34a8c4;
    font-weight: bold;
    font-size: $font-size-16;
    padding: 1rem 0 1.5rem;
  }
}

.announcement {
  background: $color-secondary-light;
  font-weight: 300;

  h3 {
    padding: 1.75rem;
  }
  .emailform {
    width: 100%;
    display: flex;
    background: #32a5c1; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #32a5c1 0%, #0f8696 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #32a5c1 0%,#0f8696 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #32a5c1 0%,#0f8696 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#32a5c1', endColorstr='#0f8696',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    font-family: $font-family;

    #mc_embed_signup {
      background: transparent;
      min-width: 60%;
      padding: 1rem 0;
      border-top: 6px solid $color-highlight;

      form {
        text-align: center;
        padding: 0;
        label[for="mce-EMAIL"] {
          color: $color-background;
          padding:0 0 .75rem;
          font-weight: 300;
          font-family: $font-family;
        }

      }
      .email-form-inputs {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        width: 75%;
        height: 2.5rem;
        letter-spacing: normal;
        #mce-EMAIL {
          margin: 0 20px 0 0;
          display: flex;
          flex: 4;
          font-family: $font-family;
        }

        #mc-embedded-subscribe {
          display: flex;
          flex: 2;
          background: $color-highlight;
          color: $color-text;
          height: 100%;
          margin: 0;
          font-size: $font-size-18;
          font-family: $font-family;
        }
      }
    }
  }
}

.marchitecture {
  width: 62%;
  text-align: right;
  margin-left: auto;
  margin-bottom: 3rem;
  padding-left: 10px;
}

.home-cta {
  align-self: flex-start;
  flex: 1;
  padding-right: 10px;
  width: 50%;
  p {
    margin-left: 0;
    color: $color-primary;
    font-weight: 400;
  }
}

.button-large {
  background-color: $color-highlight;
  color: $color-text;
  width: 200px;
  padding: 1rem 0;
  font-size: $font-size-29;
  text-align: center;
  border-radius: 40px;
  display: block;
}

.page-section {

  padding-bottom: 2rem;
}

.page-section-normal {
  @extend .page-section;
}

.page-section-white {
  @extend .page-section;
}

.page-section-blue {
  @extend .page-section;
  background: $color-secondary-light;
  padding-top: 0;
  padding-bottom: 0;
}

.page-section-blue {
  .svg-fix {
    margin-top: 2rem;
  }
  .with-graphics {
    ol li {
      list-style: decimal;
    }
  }
}

.page-section-white {
  em {
    padding: 0 .3rem;
    display: block;
    font-style: italic;
  }

  h5 em {
    display: inline;
    font-style: italic;
  }
}

.svg-fix {
  /* fixes space around SVG */
   svg { display: block; }
}

.page-section-primary {
  @extend .page-section;
  background: $color-primary;
}

.wrapper-flex {
  display: flex;
  flex-direction: row;
  width: 900px;
  margin: 0 auto;

  .wrapper {
    display: flex;
    flex-direction: row;
    flex: 10;
    width: auto;

    h5, p {
      width: 100%;
    }

    &:before, &:after {
      content: "";
      display: block;
      // width: 100%;
      // flex: 1;
      padding: 20px;
    }

  }
}

.border-top-blue {
  padding: 2.5rem 0;
  margin: 2rem auto;
  border-top: 2px solid $color-secondary-light;
}

.infographics {

  .wrapper.with-graphics {
    margin-bottom: 4rem;

    p {

      margin-bottom: 2rem;
      flex: 3;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      img {
        max-width: 100%;
        max-height: auto;
        text-align: center;
        margin: 0 auto;

      }
    }
    ol {
      flex: 2;
      li {
        font-size: $font-size-18;
        padding: .75rem 0;
      }
    }

  }




}
