.getting-started {
  ol {
    list-style: none;
    counter-reset: counter;

    & > li:before {

      padding: 0;
      margin: 0;
      content: counter(counter);
      counter-increment: counter;
      position: relative;
      left: 0;
      top: 0;
      font: bold 50px/1 Sans-Serif;

    }

  }
}
