.getting-started {
  ol {
    list-style: none;
    counter-reset: counter;

    & > li:before {

      padding: 0;
      margin: 0;
      content: counter(counter);
      counter-increment: counter;
      position: relative;
      left: 0;
      top: 0;
      font: bold 50px/1 Sans-Serif;

    }

  }
}

.get-started {
  font-weight: 200;
  text-align: left;

  h2 {
    padding-bottom: 2rem;
  }

  ol {
    list-style: none;
    font-size: 1.5rem;
    color: $color-primary;
    counter-reset: get-started;
    width: 100%;
    background: url(../img/home-wave-bg.svg) center center no-repeat;
    display: block;
    li {
      display: block;
      //padding: 1.75rem 0;
      line-height: 5rem;
      font-weight: 200;
      &:before {
        content: counter(get-started);
        padding: 0;
        margin: 0;
        counter-increment: get-started;
        position: relative;
        left: 0;
        top: 0;
        font-size: 1.75rem;
        padding: .75rem;
      }

    }
  }

  li:nth-child(1){
    text-align: left;
    margin-left: 25%;
  }

  li:nth-child(2){
    text-align: right;
    margin-right: 25%;
  }

  li:last-child{
    text-align: center;
  }
}

.category-list {
  text-transform: capitalize;
}
