.monokai .highlight table td { padding: 5px; }
.monokai .highlight table pre { margin: 0; }
.monokai .highlight .c, .monokai .highlight .cd {
  color: #75715e;
  font-style: italic;
}
.monokai .highlight .cm {
  color: #75715e;
  font-style: italic;
}
.monokai .highlight .c1 {
  color: #75715e;
  font-style: italic;
}
.monokai .highlight .cp {
  color: #75715e;
  font-weight: bold;
}
.monokai .highlight .cs {
  color: #75715e;
  font-weight: bold;
  font-style: italic;
}
.monokai .highlight .err {
  color: #960050;
  background-color: #1e0010;
}
.monokai .highlight .gi {
  color: #ffffff;
  background-color: #324932;
}
.monokai .highlight .gd {
  color: #ffffff;
  background-color: #493131;
}
.monokai .highlight .ge {
  color: #000000;
  font-style: italic;
}
.monokai .highlight .gr {
  color: #aa0000;
}
.monokai .highlight .gt {
  color: #aa0000;
}
.monokai .highlight .gh {
  color: #999999;
}
.monokai .highlight .go {
  color: #888888;
}
.monokai .highlight .gp {
  color: #555555;
}
.monokai .highlight .gs {
  font-weight: bold;
}
.monokai .highlight .gu {
  color: #aaaaaa;
}
.monokai .highlight .k, .monokai .highlight .kv {
  color: #66d9ef;
  font-weight: bold;
}
.monokai .highlight .kc {
  color: #66d9ef;
  font-weight: bold;
}
.monokai .highlight .kd {
  color: #66d9ef;
  font-weight: bold;
}
.monokai .highlight .kp {
  color: #66d9ef;
  font-weight: bold;
}
.monokai .highlight .kr {
  color: #66d9ef;
  font-weight: bold;
}
.monokai .highlight .kt {
  color: #66d9ef;
  font-weight: bold;
}
.monokai .highlight .kn {
  color: #f92672;
  font-weight: bold;
}
.monokai .highlight .ow {
  color: #f92672;
  font-weight: bold;
}
.monokai .highlight .o {
  color: #f92672;
  font-weight: bold;
}
.monokai .highlight .mf {
  color: #ae81ff;
}
.monokai .highlight .mh {
  color: #ae81ff;
}
.monokai .highlight .il {
  color: #ae81ff;
}
.monokai .highlight .mi {
  color: #ae81ff;
}
.monokai .highlight .mo {
  color: #ae81ff;
}
.monokai .highlight .m, .monokai .highlight .mb, .monokai .highlight .mx {
  color: #ae81ff;
}
.monokai .highlight .se {
  color: #ae81ff;
}
.monokai .highlight .sb {
  color: #e6db74;
}
.monokai .highlight .sc {
  color: #e6db74;
}
.monokai .highlight .sd {
  color: #e6db74;
}
.monokai .highlight .s2 {
  color: #e6db74;
}
.monokai .highlight .sh {
  color: #e6db74;
}
.monokai .highlight .si {
  color: #e6db74;
}
.monokai .highlight .sx {
  color: #e6db74;
}
.monokai .highlight .sr {
  color: #e6db74;
}
.monokai .highlight .s1 {
  color: #e6db74;
}
.monokai .highlight .ss {
  color: #e6db74;
}
.monokai .highlight .s {
  color: #e6db74;
}
.monokai .highlight .na {
  color: #a6e22e;
}
.monokai .highlight .nc {
  color: #a6e22e;
  font-weight: bold;
}
.monokai .highlight .nd {
  color: #a6e22e;
  font-weight: bold;
}
.monokai .highlight .ne {
  color: #a6e22e;
  font-weight: bold;
}
.monokai .highlight .nf {
  color: #a6e22e;
  font-weight: bold;
}
.monokai .highlight .no {
  color: #66d9ef;
}
.monokai .highlight .bp {
  color: #f8f8f2;
}
.monokai .highlight .nb {
  color: #f8f8f2;
}
.monokai .highlight .ni {
  color: #f8f8f2;
}
.monokai .highlight .nn {
  color: #f8f8f2;
}
.monokai .highlight .vc {
  color: #f8f8f2;
}
.monokai .highlight .vg {
  color: #f8f8f2;
}
.monokai .highlight .vi {
  color: #f8f8f2;
}
.monokai .highlight .nv {
  color: #f8f8f2;
}
.monokai .highlight .w {
  color: #f8f8f2;
}
.monokai .highlight .nl {
  color: #f8f8f2;
  font-weight: bold;
}
.monokai .highlight .nt {
  color: #f92672;
}
.monokai .highlight {
  color: #f8f8f2;
  background-color: #49483e;
}
