.resources {
  .icon-list {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-left: 10%;
    border-bottom: 2px solid $color-secondary-light;

    @include size(smalltomedium){
        flex-direction: column;
        margin-left: 0;
    }

    > li {
      flex: 1;
      padding: 10px;
      text-align: center;
      position: relative;

      svg {
        height: 72px;
      }
      &:after {
        content: "";
        height: 100px;
        width: 2px;
        background: $color-secondary-light;
        position: absolute;
        right: 0;
        top: 5%;
        @include size(smalltomedium){
          right: auto;
          top: auto;
          bottom: 15px;
          width: 40%;
          height: 2px;
          left: 50%;
          margin-left: -20%;
        }
      }
      &:last-child:after {
        content: "";
        height: 0;
        width: 0;
        background: transparent;
      }

      p {
        padding: 0 0 2rem 0;
      }
    }

    &.no-border {
      border-bottom: none;

      li:nth-child(2){
        flex: 1.25
      }
    }
  }

  h3 {
    margin-top: 1.25rem;
  }

  h4 {
    margin-top: 2rem;
  }

  h5 {
    padding: 0;
  }

  #authentication, #customization, #security, #quality-of-service, #utilities {
    margin-left: 10%;
    @include size(smalltomedium){
      margin-left: 0;
    }
  }

  .res-contact {
    width: 60%;
    margin: 0 auto;

    svg {
      width: 40%;
      margin: 0 auto;
    }

  }

  .res-cta {

    font-weight: 500;
    margin: 0 auto;
    text-align: center;
    font-size: $font-size-18;
    padding: 2rem 0;
    p {
      width: 100%;
      margin-top: 1rem;
    }
    a {
      color: $color-gray;
      text-decoration: none;
    }
  }

  .community {
    width: 100%;

    h6 {
      padding: 0 0 2rem;
    }

    .flex-row {
      @include size(smalltomedium){
        flex-direction: column;

        ul.logo-cloud {
          width: 100%;

          li {
            width: 170px;
            height: 90px;

            img {
              max-height: 80px;
              max-width: 130px;
            }

          }
        }
      }
    }
  }

  .flex-row {
    display: flex;
    ul {
      padding-top: 50px;
      margin-bottom: 1rem;
    }
    li {
      align-items: center;
      justify-content: center;
      display: flex;
      background: $color-background;
      width: 250px;
    	height: 125px;
    	-moz-border-radius: 125px / 62.5px;
    	-webkit-border-radius: 125px / 62.5px;
    	border-radius: 125px / 62.5px;
      text-align: center;
      margin-top: -50px;
      margin-bottom: 1rem;
      img {
        max-height: 100px;
        max-width: 200px;
      }
      svg {
        width: 150px;
      }
      &:nth-child(even){
        margin-left: auto;
      }
    }
    .logo-cloud {
      flex: 4;
    }
    .bug-block {
      flex: 2;
      padding: 0 0 2rem 2rem;
      align-items: flex-start;

      @include size(smalltomedium){
        padding: 0;
        margin-bottom: 2rem;
      }

      .bug-block-content {
        text-align: center;
        svg {
          width: 40%;
          margin: 0 auto;
        }
        background: $color-background;
        border-radius: 10px;
        padding: 2rem 1.25rem 2rem;

        p {
          color: $color-primary;
          font-size: $font-size-18;
          padding-top: 1.25rem;
        }
      }
    }
  }


}
