.sharebuttons {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 15px;
  align-items: center;
  justify-content: center;

  p {
    text-align: center;
  }

  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    a {
      align-self: center;
      max-width: 50px;
      &:hover {
        svg {
          fill: #0e8696;
        }
      }
      svg {
        display: block;
        width: 50%;
        margin: 0 25% 0 25%;
        fill: #34a8c4;
      }
    }
  }
}
