#subscribe-result {
  width: 75%;
  margin: 0 auto;
  font-size: 34px;
  // position: absolute;
  // top: 100%;
  padding: .5rem;
  font-size: $font-size-18;
  &.subscribe-error {
    text-align: center;
    p {
        color: $color-background;
        a {
          color: $color-navigation-highlight;
        }
    }
  }
}

.subscribe-success {
  background: $color-navigation-highlight;
  p {
    color: $color-background;
    padding: 1.5rem 0;
  }
}

#mc_embed_signup {

}
