.thankfuleyes .highlight table td { padding: 5px; }
.thankfuleyes .highlight table pre { margin: 0; }
.thankfuleyes .highlight {
  color: #faf6e4;
  background-color: #122b3b;
}
.thankfuleyes .highlight .gl {
  color: #dee5e7;
  background-color: #4e5d62;
}
.thankfuleyes .highlight .c, .thankfuleyes .highlight .cd, .thankfuleyes .highlight .cm, .thankfuleyes .highlight .c1, .thankfuleyes .highlight .cs {
  color: #6c8b9f;
  font-style: italic;
}
.thankfuleyes .highlight .cp {
  color: #b2fd6d;
  font-weight: bold;
  font-style: italic;
}
.thankfuleyes .highlight .err {
  color: #fefeec;
  background-color: #cc0000;
}
.thankfuleyes .highlight .gr {
  color: #fefeec;
  background-color: #cc0000;
}
.thankfuleyes .highlight .k, .thankfuleyes .highlight .kd, .thankfuleyes .highlight .kv {
  color: #f6dd62;
  font-weight: bold;
}
.thankfuleyes .highlight .o, .thankfuleyes .highlight .ow {
  color: #4df4ff;
}
.thankfuleyes .highlight .p, .thankfuleyes .highlight .pi {
  color: #4df4ff;
}
.thankfuleyes .highlight .gd {
  color: #cc0000;
}
.thankfuleyes .highlight .gi {
  color: #b2fd6d;
}
.thankfuleyes .highlight .ge {
  font-style: italic;
}
.thankfuleyes .highlight .gs {
  font-weight: bold;
}
.thankfuleyes .highlight .gt {
  color: #dee5e7;
  background-color: #4e5d62;
}
.thankfuleyes .highlight .kc {
  color: #f696db;
  font-weight: bold;
}
.thankfuleyes .highlight .kn {
  color: #ffb000;
  font-weight: bold;
}
.thankfuleyes .highlight .kp {
  color: #ffb000;
  font-weight: bold;
}
.thankfuleyes .highlight .kr {
  color: #ffb000;
  font-weight: bold;
}
.thankfuleyes .highlight .gh {
  color: #ffb000;
  font-weight: bold;
}
.thankfuleyes .highlight .gu {
  color: #ffb000;
  font-weight: bold;
}
.thankfuleyes .highlight .kt {
  color: #b2fd6d;
  font-weight: bold;
}
.thankfuleyes .highlight .no {
  color: #b2fd6d;
  font-weight: bold;
}
.thankfuleyes .highlight .nc {
  color: #b2fd6d;
  font-weight: bold;
}
.thankfuleyes .highlight .nd {
  color: #b2fd6d;
  font-weight: bold;
}
.thankfuleyes .highlight .nn {
  color: #b2fd6d;
  font-weight: bold;
}
.thankfuleyes .highlight .bp {
  color: #b2fd6d;
  font-weight: bold;
}
.thankfuleyes .highlight .ne {
  color: #b2fd6d;
  font-weight: bold;
}
.thankfuleyes .highlight .nl {
  color: #ffb000;
  font-weight: bold;
}
.thankfuleyes .highlight .nt {
  color: #ffb000;
  font-weight: bold;
}
.thankfuleyes .highlight .m, .thankfuleyes .highlight .mf, .thankfuleyes .highlight .mh, .thankfuleyes .highlight .mi, .thankfuleyes .highlight .il, .thankfuleyes .highlight .mo, .thankfuleyes .highlight .mb, .thankfuleyes .highlight .mx {
  color: #f696db;
  font-weight: bold;
}
.thankfuleyes .highlight .ld {
  color: #f696db;
  font-weight: bold;
}
.thankfuleyes .highlight .ss {
  color: #f696db;
  font-weight: bold;
}
.thankfuleyes .highlight .s, .thankfuleyes .highlight .sb, .thankfuleyes .highlight .sd, .thankfuleyes .highlight .s2, .thankfuleyes .highlight .sh, .thankfuleyes .highlight .sx, .thankfuleyes .highlight .sr, .thankfuleyes .highlight .s1 {
  color: #fff0a6;
  font-weight: bold;
}
.thankfuleyes .highlight .se {
  color: #4df4ff;
  font-weight: bold;
}
.thankfuleyes .highlight .sc {
  color: #4df4ff;
  font-weight: bold;
}
.thankfuleyes .highlight .si {
  color: #4df4ff;
  font-weight: bold;
}
.thankfuleyes .highlight .nb {
  font-weight: bold;
}
.thankfuleyes .highlight .ni {
  color: #999999;
  font-weight: bold;
}
.thankfuleyes .highlight .w {
  color: #BBBBBB;
}
.thankfuleyes .highlight .nf {
  color: #a8e1fe;
}
.thankfuleyes .highlight .py {
  color: #a8e1fe;
}
.thankfuleyes .highlight .na {
  color: #a8e1fe;
}
.thankfuleyes .highlight .nv, .thankfuleyes .highlight .vc, .thankfuleyes .highlight .vg, .thankfuleyes .highlight .vi {
  color: #a8e1fe;
  font-weight: bold;
}
