---
layout: page
title: Blog
---


<section class="blog wrapper">

  <!-- category test -->
  {% comment%}
  Here we generate all the categories.
  {% endcomment%}

  {% assign rawcats = "" %}
  {% for post in site.posts %}
  {% assign tcats = post.category | join:'|' | append:'|' %}
  {% assign rawcats = rawcats | append:tcats %}
  {% endfor %}

  {% assign rawcats = rawcats | split:'|' | sort %}

  {% assign cats = "" %}

  {% for cat in rawcats %}
  {% if cat != "" %}

  {% if cats == "" %}
  {% assign cats = cat | split:'|' %}
  {% endif %}

  {% unless cats contains cat %}
  {% assign cats = cats | join:'|' | append:'|' | append:cat | split:'|' %}
  {% endunless %}
  {% endif %}
  {% endfor %}
  <!-- year tests -->

  <!-- This loops through the paginated posts -->
  <div class="article-list">
    <ul>
      {% for post in paginator.posts %}
      <li class="post-excerpt">
        <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
        <p class="author">
          <span class="date">{{ post.date | date: '%A %B %d, %Y' }}</span>
        </p>
        <div class="content">
          {{ post.excerpt }}
        </div>
        <a href="{{ site.baseurl }}{{ post.url }}" class="button-read-more">Read more</a>
      </li>
      {% endfor %}
    </ul>

    <!-- This creates the pagination navigation elements -->
      {% if paginator.total_pages > 1 %}
      <nav class="pagination">
        {% if paginator.previous_page %}
          <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="prev paginator-active">Prev</a>
        {% else %}
          <span class="prev">Prev</span>
        {% endif %}

        {% for page in (1..paginator.total_pages) %}
          {% if page == paginator.page %}
            <em class="pagecount">{{ page }}</em>
          {% elsif page == 1 %}
            <a href="{{ paginator.previous_page_path | replace: '//', '/' }}" class="pagecount">{{ page }}</a>
          {% else %}
            <a href="{{ site.paginate_path | replace: '//', '/' | replace: ':num', page }}" class="pagecount">{{ page }}</a>
          {% endif %}
        {% endfor %}

        {% if paginator.next_page %}
          <a href="{{ paginator.next_page_path | replace: '//', '/' }}" class="next paginator-active">Next</a>
        {% else %}
          <span class="next">Next</span>
        {% endif %}
      </nav>
      {% endif %}

  </div>
  <aside class="blog-sidebar">

    <section>
      <h5>Posts by Category</h5>
      <ul class="category-list">
        {% for ct in cats %}
        <li><a href="{{ ct | slugify }}" class="sidebarnav" > {{ ct }} </a></li>
        {% endfor %}
      </ul>
    </section>

    <section>
      <h5>Posts by date</h5>
      <ul>
        {% assign counter = 0 %}
{% for post in site.posts %}
  {% assign thisyear = post.date | date: "%B %Y" %}
  {% assign prevyear = post.previous.date | date: "%B %Y" %}
  {% assign counter = counter | plus: 1 %}
  {% if thisyear != prevyear %}
    <li><a href="{{ site.baseurl }}blog/{{ post.date | date:"%Y/%m" }}" class="sidebarnav">{{ thisyear }} ({{ counter }})</a></li>
    {% assign counter = 0 %}
  {% endif %}
{% endfor %}
      </ul>
    </section>

  </aside>
</section>
