---
layout: page
---

<section class="page-section-normal blog">
<div class="wrapper-flex">
<div class="wrapper">
<div class="flex-column shape-style" markdown="1">
  <h2 class="blog-header">{{ page.year }} {{ page.month-text }} {{ page.title }}</h2>
  <a class="back" href="{{ site.baseurl}}/blog">Back to article listing</a>
  <div class="article-list">
<ul>
{% for post in site.posts %}
    {% capture post_month %}{{ post.date | date: '%m' }}{% endcapture %}
    {% capture post_year %}{{ post.date | date: '%Y' }}{% endcapture %}
    {% assign post_year = post_year | plus: 0 %}
    {% assign post_month = post_month | plus: 0 %}
    {% if post_month == page.month and post_year == page.year %}
            <li>
              <div class="post-excerpt">
                <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
                <p class="author">
                  <span class="date">{{ post.date | date: '%A %B %d, %Y' }}</span>
                </p>
                <div class="content">
                  {{ post.excerpt }}
                </div>
                <a href="{{ site.baseurl }}{{ post.url }}" class="button-read-more">Read more</a>
              </div>
            </li>
    {% endif %}
{% endfor %}
</ul>
</div>
</div>
</div>
</div>
</section>
