---
layout: page
title: Blog
---
<section>
  <div class="container">
    <div class="row">
      <div class="text-center">

        {% for post in paginator.posts %}
            <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
                <p class="author">
                    <span class="date">{{ post.date }}</span>
                </p>
            <div class="content">
                {{ post.content }}
            </div>
        {% endfor %}

        
      </div>
    </div>
  </div>
</section>
