---
layout: page
---

<div class="about documentation case-study">
  <div class="page-section-blue">
    <section class="wrapper-flex">
      <h2>Case study</h2>
    </section>
    <div class="flex-column flex-center">
      {% if page.logo %}
        {% include case-study-link.html logo=page.logo %}
      {% endif %}
      {% if page.title %}
        <h3>{{ page.title }}</h3>
      {% endif %}
    </div>
  </div>
  <div class="svg-fix wave-2">{% include wave-2.svg %}</div>
  <div class="wrapper-flex full-width contributions">
    <div class="doc-wrapper" markdown="1" style="width:auto;">
      {{ content }}
    </div>
  </div>
</div>
