---
layout: page
---

<div class="wrapper-flex full-width contributions about documentation case-study">
  <div class="doc-wrapper" markdown="1" style="width:auto;">
    <h2>Case study</h2>
      <section class="flex-column">
        {% if page.logo %}
          <img srcset="../../assets/img/{{page.logo}}.png, ../../assets/img/{{page.logo}}@2x.png 2x"
                src="../../assets/img/{{page.logo}}.png">
          </img>
        {% endif %}
        {% if page.title %}
        <h3>{{ page.title }}</h3>
        {% endif %}
      </section>
    {{ content }}
  </div>
</div>
