{% include head.html %}

<body class="sticky">
  {% include header.html %}
  <div class="container page documentation sticky-flex {{ page.class }}">
    <div class="wrapper">
      <aside class="toc-wrapper">
        {% include tocmenu.html %} <!-- .sidebar-docs -->
      </aside>
      <main class="markdown" id="markdown">
        <section class="doc-wrapper">
         <h1>{{ page.title }}</h1>
          {{ content }}
        </section>
      </main>
    </div>
  </div>
  <!-- <div class="svg-fix bottom-wave">{% include wave-bottom-2.svg %}</div> -->
  {% include footer.html %}
  <script src="{{site.baseurl}}/assets/js/detectScroll.js"></script>
</body>
</html>
