  {% include head.html %}

  <body class="sticky">
    {% include header.html %}
    <div class="container page documentation sticky-flex {{ page.class }}">
      <div class="wrapper">
        {% if page.links %}
        <aside>

          <nav class="toc">
            <h2 class="toc-header">{{ page.title }}</h2>
            <div class="toclinkwrapper">
              {% for item in page.links %}
                <a class="toclink original" href="#{{ item.link }}">{{ item.display }}</a>
              {% endfor %}
            </div>
          </nav>
        </aside>
        {% endif %}
        <main class="markdown" id="markdown">
            {{ content }}
        </main>
      </div>
    </div>
    <div class="svg-fix">{% include wave-bottom-2.svg %}</div>
    {% include footer.html %}
    <script src="../assets/js/classtoggle.js"></script>
  </body>
</html>
