{% include head.html %}


<body>
  {% include header.html %}
  <div class="container">

    <main>
      <section class="flex-row wrapper">
        <div class="introduction flex-7">
          <h2 class="large-header">A microservices API gateway built on EXPRESS.JS</h2>
          {% include gwe-companion-mark.svg %}
          <p class="subtitle">Fast, Flexible, and Community Driven</p>
          <a href="{{ site.baseurl }}getting-started#five-minute-quickstart" class="button-large">Quickstart</a>
        </div>
        <div class="flex-5 flex-center type-center">
          <p>img placeholder</p>
        </div>
      </section>
      <section class="announcement flex-row flex-center type-center">
        <h3 class="flex-column">Express Gateway 0.10.1 has been released!</h3>
      </section>

        <ul class="cards">
          <li>
              {% include simple.svg %}
              <h3 class="font-size-medium">Simple</h3>
              <ul class="type-base">
                <li>A single YAML to control it all (pipelines, policies, conditions, actions...)</li>
                <li>Auto-detect and hot-reload configuration changes</li>
                <li>Plugin architecture</li>
              </ul>
          </li>
          <li>
              {% include agnostic.svg %}
              <h3 class="font-size-medium">Agnostic</h3>
              <ul class="type-base">
                <li>A gateway for any service implementation (Node, Go, Java, Python, .NET…)</li>
                <li>A gateway for any framework (MEAN, Sails, Hapi, Meteor, LoopBack...)</li>
                <li>A gateway for all use cases (Microservices, Serverless, MBaaS, EAI...)</li>
              </ul>

          </li>
          <li>
              {% include organic.svg %}
              <h3 class="font-size-medium">Organic</h3>
              <ul class="type-base">
                <li>Built on Express Middleware and Node</li>
                <li>Bundled with most popular modules  (passport, node-http, oauth2orize…)</li>
                <li>Extend with any Express Middleware</li>
              </ul>
          </li>
          <li>
              {% include portable.svg %}
              <h3 class="font-size-medium">Portable</h3>
              <ul class="type-base">
                <li>Run anywhere with Docker in your public or private cloud</li>
                <li>Works with any orchestrator (Kubernetes, Mesosphere, Swarm...)</li>
                <li>Plug into your DevOps tooling (Jenkins, CircleCI, Travis...)</li>
              </ul>
          </li>
        </ul>

      <section class="get-started flex-column flex-center">
        <h2 class="type-size-32">Get Started in 1 minute</h2>
        <ol class="wrapper flex-column type-medium">
          <li>
            <h5>Specify a Microservice</h5>
          </li>
          <li>
            <h5>Expose as an API</h5>
          </li>
          <li>
            <h5>Secure API with key</h5>
          </li>
        </ol>
      </section>
      <section class="quote">
        <div class="wrapper">
          <div>
            <img class="avatar" />
            <p class="type-xsmall">Doug Wilson, maintainer of Express.js</p>
          </div>
          <blockquote>"An API gateway built around ExpressJS is long overdue and the perfect use case for the minimalist strengths of what Express is all about!"</blockquote>
        </div>
      </section>
    </main>
  </div>
  {% include footer.html %}
</body>
</html>
