{% include head.html %}


<body class="sticky">
  {% include header.html %}
  <div class="container sticky-flex">

    <main>
      <section class="hero">
        <h1>Microservices to Production Insanely Fast</h1>
        <div class="svg-fix">{% include wave-bottom-2.svg %}</svg>
      </section>
      <section class="flex-column wrapper">
        <div class="introduction flex-row">
          <div class="flex-center space-between full-width">
            <div class="home-cta">
              <h2 class="large-header description">A microservices API gateway built on Express.js</h2>
              <p class="subtitle">Fast, Flexible, and Community Driven</p>
              <a href="{{ site.baseurl }}/getting-started" class="button-large">Quick Start</a>
            </div>
            <!-- <img class="marchitecture" src="assets/img/marchitecture.png" /> -->
            <div class="marchitecture">{% include Home_marchitecturediagram.svg %}</div>
          </div>
        </div>
      </section>
      <section class="announcement flex-column flex-center type-center">
        <h3>Express Gateway 1.9.1 has been released!</h3>
        <section class="emailform flex-center">
          {% include mailchimp.html %}

        </section>

      </section>

        <ul class="cards">
          <li>
              {% include simple.svg %}
              <h5>Simple</h5>
              <ul class="type-base">
                <li>A single config to control it all
                <li>Auto-detect and hot-reload config changes</li>
                <li>Plugin architecture</li>
              </ul>
          </li>
          <li>
              {% include agnostic.svg %}
              <h5>Agnostic</h5>
              <ul class="type-base">
                <li>A gateway for any language </li>
                <li>A gateway for any framework </li>
                <li>A gateway for all microservice use cases</li>
              </ul>

          </li>
          <li>
              {% include organic.svg %}
              <h5>Organic</h5>
              <ul class="type-base">
                <li>Built on Express Middleware and Node</li>
                <li>Pre-bundled with the most proven andpopular modules</li>
                <li>Extend with any Express Middleware</li>
              </ul>
          </li>
          <li>
              {% include portable.svg %}
              <h5>Portable</h5>
              <ul class="type-base">
                <li>Run anywhere with Docker in your public or private cloud</li>
                <li>Works with any orchestrator and service mesh</li>
                <li>Plug into your DevOps tooling </li>
              </ul>
          </li>
        </ul>
      <section class="screencast-feature">
        <div class="video-aspect-ratio">
          <div class="video-border moveback">

          </div>
          <div class="video-container">
            {% include video_atrest.svg %}
          </div>
          {% include icon-play-button.svg %}
        </div>
        <a href="{{ site.baseurl }}/getting-started#installation" class="button-large">Quick Start</a>
        {% include wave-video-bg.svg %}
        {% include wave-video-single-bg.svg %}
      </section>

      <section class="quote">
        {% include blackandwhite.svg %}
        <div class="wrapper">
          <section class="testimonial flex-column">
              <span class="avatar"><img class="blackandwhite" src="assets/img/Doug.jpg" /></span>
              <blockquote>"Building upon Node.js + Express.js brings together the strengths, community and flexibility for a world-class API gateway."</blockquote>
              <p><span>&mdash; Doug Wilson</span> Maintainer of Express.js</p>
          </section>
          <section class="testimonial flex-column">
              <span class="avatar"><img class="blackandwhite" src="assets/img/james.png" /></span>
              <blockquote>"An API gateway built around ExpressJS is long overdue and the perfect use case for the minimalist strengths of what Express is all about!"</blockquote>
              <p><span>&mdash; James Young</span> CTO of VidRoll</p>
          </section>
          <section class="testimonial flex-column">
              <span class="avatar"><img class="blackandwhite" src="assets/img/amar.jpg" /></span>
              <blockquote>"Simple, powerful and flexible without getting in your way - a core building block that elegantly leverages ExpressJS and unlocks it from the technical/developer side of the business."</blockquote>
              <p><span>&mdash; Amar Singh Rathor</span> Head of Standard Chartered Studios</p>
          </section>
        </div>
      </section>
    </main>
  </div>
  {% include footer.html %}

</body>
</html>
