  {% include head.html %}

  <body class="sticky">
    {% include header.html %}
    <div class="container page contributions sticky-flex">

      <main>
          {{ content }}
      </main>
    </div>
    {% include footer.html %}
    {% if page.url contains '/getting-started/' %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://player.vimeo.com/api/player.js"></script>
    <script src="{{ site.baseurl }}/assets/js/homepagescripts.js"></script>

    {% endif %}
  </body>
</html>
